


.informacion {
    cursor: pointer;
    margin: 20px;
}
.icono {
    height: 20px;
    width: auto;
    transform: scale(1.2);
  
}


.informacion{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;

}
.contenedor-email{
    display: flex;
    gap: 20px;
}
.contenedor-celular{
    display: flex;
    gap: 20px;
}
.contenedor-direccion{
    display: flex;
    gap: 20px;
}
 .foto{
    height: 250px;
    border: 20px solid #000;
    float: right;
    margin-top: -15%;
         
}

.contenedor-educacion li{
    list-style: none;
}
.contenedor-educacion{
    background-color: rgb(183, 176, 176);
    height: 330px;
}
.contenedor-laboral{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 500px;
    margin-top: -50%;
   }

.contenedor-laboral li{
 list-style: none;
 
}
.tablas{
    display: flex;

}
.extra li{
    list-style: none;

}
.puntito{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:black;

}
.puntito2{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color:black;
}
.infoextra{
    cursor: pointer;   
}
.cont-puntos{
    display: flex;
    gap: 6px;
    margin: 30px
    
}
.img1{
    height: 20px;
    width: auto;
    transform: scale(1.2);
}
.img2{
    height: 20px;
    width: auto;
    transform: scale(1.2);
}
.img3{
    height: 20px;
    width: auto;
    transform: scale(1.2);
    
}
.img4{
    height: 20px;
    width: auto;
    transform: scale(1.2);
    
}
.cont-img{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 30px;  
    margin: 50px; 
}

.cont-img2{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    list-style: none;
    margin: 40px; 
}
.fortalezas{
    cursor: pointer;
   justify-content: right;
  
}
.contenedor-final{
    margin: 20px;
}
 
.contenedor .contenedor-laboral{
    float: right;
}
.linea{
    rotate: 90deg;
    width: 40px;
    border: 1px solid;
}

.ordenar{
    display: flex;
    align-items: center;
    margin-top: 30px;  
}

.lista{
    margin-left: -40px;
}
#boton1 {
    background-color: white;
    border: none;
    cursor: pointer;
}
#boton2 {
    background-color: white;
    border: none;
    cursor: pointer;

}
#boton3 {
    background-color: white;
    border: none;
    cursor: pointer;

}
#boton4 {
    background-color: white;
    border: none;
    cursor: pointer;

}
